@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

@font-face {
    font-family: 'Formula1Font';
    src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Regular/Formula1-Regular.ttf')  format('truetype')
  }

.f1-nav-container {
    background-color: black;
    margin: 0;
    top: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.f1-nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    height: 20px;
    padding: 30px;
}

.f1-nav > ul > li{
    list-style: none; 
}
.f1-nav > ul > li > a{
    text-decoration: none;
    padding: 30px;
    color: whitesmoke;
    font-family: 'Formula1Font', sans-serif;
    font-weight: lighter;
}

.f1-nav > ul > li> a:hover{
    background-image: url('../../Images/flag3.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    transition: 0.3s;
}


.imgLogo {
    position: relative;
    display: inline-block;
    margin-top: -170px;
    z-index: 1;
}

/* .envolving-circle {
    background-color: black;
    border-radius: 100%;
    width: 350px;
    height: 350px;
    top: -180px;
    position: relative;
} */