@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

@font-face {
    font-family: 'Formula1Font';
    src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Regular/Formula1-Regular.ttf')  format('truetype')
  }

.App {
  font-family: 'Formula1Font', sans-serif;
}

.container {
  width: calc(100vw - 15%);
  /* min-width: 640px; */
  margin: 0 auto;
}

